. /usr/share/debconf/confmodule

db_get luaflare-reverseproxy-nginx/first || true
if [ "$RET" = "true" ]; then
	db_input high luaflare-reverseproxy-nginx/enable || true
	db_go
	db_get luaflare-reverseproxy-nginx/enable || true
	
	if [ "$RET" = "true" ]; then
		if [ -f /etc/nginx/sites-enabled/default ]; then
			rm -f /etc/nginx/sites-enabled/default
		fi
		
		if [ ! -f /etc/nginx/sites-enabled/luaflare ]; then
			ln -s /etc/nginx/sites-available/luaflare /etc/nginx/sites-enabled/luaflare
		fi
		
		service nginx restart
	fi
	
	db_set luaflare-reverseproxy-nginx/first false || true
fi
