[Unit]
Description=Lua web server
After=network.target

[Service]
Type=notify
User=www-data
EnvironmentFile=/etc/default/luaflare
WorkingDirectory=/usr/lib/luaflare
ExecStart=/usr/lib/luaflare/luaflare.lua listen --systemd
KillMode=process
Restart=always
WatchdogSec=60
NotifyAccess=all

[Install]
WantedBy=multi-user.target

